/* Variables */

$sp: 4px;

/* Font size */
$font-size-base: 10px;
$font-size-main: $font-size-base * 1.6;
$font-size-second: $font-size-base * 1.4;

/* Font style */
$font-weight-light: 300;
$font-weight-middle: 500;
$line-height: 150%;
$letter-spacing: 0.06rem;
$text-align: center;

/* Border radius for picture */
$border-radius: 4px;

/* Transition */
$transition: all 0.2s;

/* Opacity */
$opacity-middle: 0.6;

/* /Variables */
